Django==5.0.6
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
psycopg2-binary==2.9.9
django-redis==5.4.0
redis==5.0.4
minio==7.2.5
celery==5.4.0
librosa==0.10.2.post1
soundfile==0.12.1
praatio==6.2.0
numpy==1.26.4
scipy==1.13.0
Pillow==10.3.0
django-filter==24.2
python-dotenv==1.0.1
gunicorn==22.0.0
openai-whisper>=20231117
speechbrain>=1.0.0
torch>=2.0.0
torchaudio>=2.0.0
scikit-learn>=1.4.0
sentence-transformers>=2.5.0
